<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ІУС Новин</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Головна</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/news">Новини</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category">Категорії</a>
                </li>
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="/subscription">Підписки</a>#}
{#                </li>#}
            </ul>

            <div class="icons d-flex" style="gap: 10px;">
                {% if app.user %}
                    <ul class="navbar-nav">
                        <li class="nav-item d-flex align-items-center">
                            <span>Вітаємо, {{ app.user.name }}</span>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item d-flex align-items-center">
                            <a class="nav-link" aria-current="page" href="/logout">Вийти</a>
                        </li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav">
                        <li class="nav-item d-flex align-items-center">
                            <a class="nav-link" href="/login">Увійти</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item d-flex align-items-center">
                            <a class="nav-link" href="/register">Зареєструватися</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</nav>