{% extends 'layout/base.html.twig' %}

{% block title %}
ІУС Новини
{% endblock %}

{% block body %}

<div class="example-wrapper">
    <div class="container">
        <div class="row py-5">
            <h1 class="text-center mb-5">Новини</h1>

            {% for new in news %}

            <div class="col-6">

                <div class="card news-card  mb-3">
                    <img src="{{ new.imgUrl }}" class="news-img card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ new.title}}</h5>
                        <p class="card-text">{{ new.content }}</p>
                    </div>
                </div>

            </div>

            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
