{% extends 'layout/base.html.twig' %}

{% block title %}
ІУС Новини - Підписки
{% endblock %}

{% block body %}

<div class="example-wrapper">
    <div class="container">
        <div class="row py-5">
            <h1 class="text-center mb-5">Підписки</h1>
            <div class="col-8 mx-auto">

                <div class="card news-card  mb-3">
                    <img src="https://kneu-edu-cdn.pp.ua/files/slider/image/Banerinasayt32_1.png" class="news-img card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">День відкритих дверей КНЕУ!</h5>
                        <p class="card-text"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam aperiam cum fugiat quo? Aut enim in itaque nemo quo? At dicta eos nam natus nihil obcaecati quis repellat ut?</span><span>A asperiores assumenda autem ducimus, eaque excepturi expedita fugit impedit iure iusto labore laboriosam nobis non odio optio, pariatur perferendis quae quas quibusdam quidem ratione recusandae sed sint temporibus voluptatem.</span><span>Aliquam asperiores at commodi dolorem impedit iste labore, nihil nostrum nulla possimus provident recusandae reiciendis sapiente sunt, tenetur ullam veniam. Accusamus aperiam consequuntur corporis cumque id possimus reprehenderit, veritatis voluptas.</span><span>Animi magni optio quasi sed veniam. Ad aliquid atque deserunt maiores totam. Accusantium architecto atque consequuntur cupiditate explicabo hic ipsam ipsum laborum magni modi neque, officia, perspiciatis, praesentium quo unde.</span><span>Est sunt velit voluptatem? Autem blanditiis consequatur corporis deleniti eaque eligendi eos error eum, eveniet fugit harum incidunt labore magnam nemo neque porro quas quasi tempora, tenetur veniam vitae voluptatibus!</span></p>
                    </div>
                </div>

            </div>
            <div class="col-8 mx-auto">

                <div class="card news-card  mb-3">
                    <img src="https://spubl.com.ua/web/uploads/global/kneu_en.jpg" class="news-img card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Congratulations on the anniversary of Vadym Hetman Kyiv National Economic University — the first partner of Scientific Publications!</h5>
                        <p class="card-text"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam aperiam cum fugiat quo? Aut enim in itaque nemo quo? At dicta eos nam natus nihil obcaecati quis repellat ut?</span><span>A asperiores assumenda autem ducimus, eaque excepturi expedita fugit impedit iure iusto labore laboriosam nobis non odio optio, pariatur perferendis quae quas quibusdam quidem ratione recusandae sed sint temporibus voluptatem.</span><span>Aliquam asperiores at commodi dolorem impedit iste labore, nihil nostrum nulla possimus provident recusandae reiciendis sapiente sunt, tenetur ullam veniam. Accusamus aperiam consequuntur corporis cumque id possimus reprehenderit, veritatis voluptas.</span><span>Animi magni optio quasi sed veniam. Ad aliquid atque deserunt maiores totam. Accusantium architecto atque consequuntur cupiditate explicabo hic ipsam ipsum laborum magni modi neque, officia, perspiciatis, praesentium quo unde.</span><span>Est sunt velit voluptatem? Autem blanditiis consequatur corporis deleniti eaque eligendi eos error eum, eveniet fugit harum incidunt labore magnam nemo neque porro quas quasi tempora, tenetur veniam vitae voluptatibus!</span></p>
                    </div>
                </div>

            </div>
            <div class="col-8 mx-auto">

                <div class="card news-card  mb-3">
                    <img src="https://static.ukrinform.com/photos/2023_02/thumb_files/630_360_1677322008-815.jpg" class="news-img card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Єдині новини. Телемарафон</h5>
                        <p class="card-text"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam aperiam cum fugiat quo? Aut enim in itaque nemo quo? At dicta eos nam natus nihil obcaecati quis repellat ut?</span><span>A asperiores assumenda autem ducimus, eaque excepturi expedita fugit impedit iure iusto labore laboriosam nobis non odio optio, pariatur perferendis quae quas quibusdam quidem ratione recusandae sed sint temporibus voluptatem.</span><span>Aliquam asperiores at commodi dolorem impedit iste labore, nihil nostrum nulla possimus provident recusandae reiciendis sapiente sunt, tenetur ullam veniam. Accusamus aperiam consequuntur corporis cumque id possimus reprehenderit, veritatis voluptas.</span><span>Animi magni optio quasi sed veniam. Ad aliquid atque deserunt maiores totam. Accusantium architecto atque consequuntur cupiditate explicabo hic ipsam ipsum laborum magni modi neque, officia, perspiciatis, praesentium quo unde.</span><span>Est sunt velit voluptatem? Autem blanditiis consequatur corporis deleniti eaque eligendi eos error eum, eveniet fugit harum incidunt labore magnam nemo neque porro quas quasi tempora, tenetur veniam vitae voluptatibus!</span></p>
                    </div>
                </div>

            </div>
            <div class="col-8 mx-auto">

                <div class="card news-card  mb-3">
                    <img src=https://detector.media/doc/images/news/archive/2021/238939/i75_ArticleImage_238939.webp class="news-img card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Факти новин</h5>
                        <p class="card-text"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam aperiam cum fugiat quo? Aut enim in itaque nemo quo? At dicta eos nam natus nihil obcaecati quis repellat ut?</span><span>A asperiores assumenda autem ducimus, eaque excepturi expedita fugit impedit iure iusto labore laboriosam nobis non odio optio, pariatur perferendis quae quas quibusdam quidem ratione recusandae sed sint temporibus voluptatem.</span><span>Aliquam asperiores at commodi dolorem impedit iste labore, nihil nostrum nulla possimus provident recusandae reiciendis sapiente sunt, tenetur ullam veniam. Accusamus aperiam consequuntur corporis cumque id possimus reprehenderit, veritatis voluptas.</span><span>Animi magni optio quasi sed veniam. Ad aliquid atque deserunt maiores totam. Accusantium architecto atque consequuntur cupiditate explicabo hic ipsam ipsum laborum magni modi neque, officia, perspiciatis, praesentium quo unde.</span><span>Est sunt velit voluptatem? Autem blanditiis consequatur corporis deleniti eaque eligendi eos error eum, eveniet fugit harum incidunt labore magnam nemo neque porro quas quasi tempora, tenetur veniam vitae voluptatibus!</span></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
